/* Add styles for truYum application here */
header{
background-color:darkblue;
font-size:50px;
height:100px;
width:100%;
top:0;
left:0;
position:fixed;
}
footer{
background-color:lightgrey;
position:fixed;
bottom:0;
left:0;
height:100px;
width:100%
}
#menutop{
display:inline-block;
color:white;
text-align:center;
height:40px;
float:right;
margin-top:25px;
margin-right:25px;
font-size:25px;
}
#menutop:hover{
color:lightblue;
}
#mainhead{
color:white;
float:left;
margin-top:35px;
margin-left:35px;
font-size:40px;
left:0;
}

#name{
width:100%;

}
input[type=submit]{
padding:20px;
background-color:darkblue;
width:100px;
border-radius:4px;
color:white;
}
input[type=submit]:hover{
padding:20px;
background-color:lightblue;
width:100px;
border-radius:4px;
color:white;
}
input[type=checkbox]{
padding:20px;
width:40px;
border-radius:4px;
}
table{
margin-left:50px;
margin-top:200px;

}
#td1{
text-align:center;
margin-left: 200px;
margin-top:150px;
}
#hd1{
margin-left:130px;
margin-top:120px;
}
#h31{
margin-left:130px;
margin-top:70px;
color:green;
}
#rs{
text-align:right;
}